body {
  background: rgba(245, 245, 245);
  font-family: sans-serif;
}
h1 {
  font: 2em;
  font-weight: bold;
  text-align: center;
}
.accordion {
  width: 800px;
  margin: 90px auto;
  color: black;
  
  padding: 20px 20px;
}
  .question,
  .content {
    padding: 20px 20px;
  }  
  .question {
    padding: 20px 20px;
    background-color: #3a3838;
    display: block;
    color: #ffffff;
    border-radius: 4px;
    font-size: 1.05em;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    padding: 20px 20px;
  } 

  .question::before {
    content: "+";
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-size: contain;
    transition: transform 0.4s;
  }

  .question::after {
    content: "\25b6";
    position: absolute;
    display: block;
    top: 38%;
    left: 20px;
    width: 12px;
    height: 6px;
    transition: all 0.4s;
  }
  .content {
    text-align: center;
    line-height: 1.6;
    font-size: 1em;
    display: none;
  }  
  .click {
    display: none;
  }  
  .click:checked ~ .content {
    display: block;
  }
  .click:checked ~ .question::after {
    transform: rotate(90deg);
  }
  
.click:checked ~ .question::before {
  content: "-";
  position: absolute;
  top: 40%;
  right: 20px;
  width: 12px;
  height: 6px;
  background-size: contain;
}